In [22]:
#1.Find the error in the following Python code:
# changed Math to lowercase
import math
print(math.sqrt(16))

4.0

In [23]:
#2.Find the error in the following Python code:
# declar x as global variable
def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

15

In [24]:
#3.x = 5
# changed frm assignment operation to equality operator
if x == 10:
    print("x is 10")

In [25]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [26]:
#.sort method returns non. Hence changed to numbers.sort method and print it in next line
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [27]:
#5. Return the ouput in square method
def square(n):
    return n * n

print(square(4))

16

In [28]:
#6.
my_tuple = (1, 5, 3)
#my_tuple[1] = 5
#tuples are immutable. Hence we can't change the value for tuples

In [29]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [35]:
#8.=
#answer: 
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [36]:
#9.
# added increasement (-1) in the for loop
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [34]:
#9.
for i in range(5, 1):
    print(i)

In [47]:
#name is treated as a variable, but you haven't defined a variable called name.

student = {"name": "John", "age": 20}
print(student["name"])

John